@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    font-family: 'Montserrat', sans-serif;
    background: #f3e0e2;
    
}

.drop-card {
    display: flex;
    width: 50%;
    min-width: none;
    background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
    color: #fff;
    border-radius: 10px;
    height: 70%;
    
}

.left-content{
    width: 50%;
    background-color:  #fff;
    padding: 20px;
    color: black;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    align-items: center;
    justify-content: center;
}

.header{
    margin-bottom: 20px;
    padding: 0;
    display: flex;
    justify-content: center;

}

.right-content{
    width: 50%;
    padding: 20px;
    
}



.drop-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.form-item {
    display: flex;
    padding-bottom: 20px;
    padding-top: 10px;
}

.drop-down{
    width: 200px;
}
.form-item label{
    width: 80px;
}

.form-item select{
    height: 30px;
    border-radius: 5px;
    border-color: #f3e0e2;
}


.form-button{
    display: flex;
    justify-content: center;
    
}

.form-button button {
    /* border-radius: 10px;
    padding-inline: 10px;
    padding-top: 5px;
    padding-bottom: 5px; */

    border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
    margin-top: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    
}