<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <!-- Add these lines inside the <head> section of your HTML -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"
        integrity="sha512-b+WE8P10T8P6EEYY2y0f3fRDR1I+XvE9+BoAmkn0H2W1LHv2gMKx8AiS0tjIs/LIM6x9aei28W5LTT4I5YZi6OQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"
        integrity="sha512-0etdU4RQ8Ff5fWyFuWsL6RiUNo86gXbyBzrCttTHkruaY+K6g59E5hGg1vF0wW5JvZMJCkjoZqVZjWl6wH1WLw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <title>Dropp</title>
</head>

<body>
    <div class="drop-card">
        <div class="left-content">
            <div class="header">
                <h1>Drop Course</h1>
            </div>
            <form>
                <div class="drop-form">

                    <div class="form-item">
                        <label>Year: </label>
                        <select name="year" class="drop-down select2" id="year-drop-down">
                        </select>
                    </div>
                    <div class="form-item">
                        <label>Course: </label>
                        <select name="course" class="drop-down select2" id="course-drop-down">
                            <option value="python" class="form-element" selected>BCSE101E Python</option>
                        </select>
                    </div>
                    <div class="form-item">
                        <label>Faculty: </label>
                        <select name="faculty" class="drop-down select2" id="faculty-drop-down">
                            <option value="durgesh" class="form-element" selected>Durgesh Kumar</option>
                        </select>
                    </div>
                    <div class="form-item">
                        <label>Slot: </label>
                        <select name="slot" class="drop-down select2" id="slot-drop-down">
                            <option value="TG1" class="form-element" selected>TG1</option>
                        </select>
                    </div>
                    <div class="form-button">
                        <button type="button" onclick="dropCourse()">Submit</button>
                    </div>
                </div>
            </form>

        </div>
        <div class="right-content">
            <h1>Dropped Courses</h1>
            <p>The courses you choose to drop will be listed here...</p>
            <ol id="dropped-courses">
                
            </ol>
        </div>
    </div>
    <script src="/script.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const selectElements = document.querySelectorAll('.select2');
            selectElements.forEach(function (selectElement) {
                new Select2(selectElement, {
                    matcher: function (params, data) {
                        if ($.trim(params.term) === '') {
                            return data;
                        }
                        if (data.text.toUpperCase().includes(params.term.toUpperCase())) {
                            return data;
                        }
                        return null;
                    }
                });
            });
        });
    </script>
</body>

</html>