<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <!-- Add these lines inside the <head> section of your HTML -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"
        integrity="sha512-b+WE8P10T8P6EEYY2y0f3fRDR1I+XvE9+BoAmkn0H2W1LHv2gMKx8AiS0tjIs/LIM6x9aei28W5LTT4I5YZi6OQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"
        integrity="sha512-0etdU4RQ8Ff5fWyFuWsL6RiUNo86gXbyBzrCttTHkruaY+K6g59E5hGg1vF0wW5JvZMJCkjoZqVZjWl6wH1WLw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <title>Dropp</title>
</head>

<body>
    <div class="signup">
        <div class="signup-card">
            <h1>Login</h1>
            <form action="/auth/login" method="POST">
                <div class="signup-form-item">
                    <input type="email" placeholder="test.abc2022@vitstudent.ac.in" name="email">
                </div>
                <div class="signup-form-item">
                    <input type="password" placeholder="password" name="password">
                </div>
                <div class="signup-form-item">
                    <button type="submit">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>