<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">

    <title>Dropp</title>
</head>

<body>
    <div class="signup">
        <div class="signup-card">
            <h1>Signup</h1>
            <form action="/auth/signup" method="POST">
                <div class="signup-form-item">
                    <input type="email" placeholder="test.abc2022@vitstudent.ac.in" name="email">
                </div>
                <div class="signup-form-item">
                    <input type="password" placeholder="password" name="password">
                </div>
                <div class="signup-form-item">
                    <button type="submit">Sign Up</button>
                </div>
            </form>
        </div>
        {{#if message}}
        <p>{{message}}</p>
        {{/if}}


    </div>


</body>

</html>