@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800');

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: #f3e0e2;
}

.wrapper {
    display: flex;
    align-items: center;
    height: 90vh;
    justify-content: center;
}

.navbar{
    display: flex;
    background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
    justify-content: space-between;
    align-items: center;
}

.right-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.welcome{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: #fff;
    height: 100%;
}

.right-nav button{
    justify-content: center;
    align-items: center;
    background: transparent;
    border: transparent;
    color: #fff;
    padding: 15px 20px;
    font-size: 15px;
    transition: 0.5s;
}

.navbar button:hover{
    background-color: #f3e0e2;
    color: #FF416C
}

.navbar a {
    color: #FFF;
    text-decoration: none;
    padding: 15px;
    transition: 0.5s; 
}

.navbar a:hover {
    background-color: #f3e0e2;
    color: #FF416C
}

.navbar-out{
    display: flex;
    background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
    justify-content: end;
}
.navbar-out a {
    color: #FFF;
    text-decoration: none;
    padding: 15px 20px;
    transition: 0.5s; 
}

.navbar-out a:hover {
    background-color: #f3e0e2;
    color: #FF416C
}

.drop-card {
    display: flex;
    width: 50%;
    min-width: none;
    background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
    color: #fff;
    border-radius: 10px;
    height: 70%;
    box-shadow: rgba(0, 0, 0, 20%) 0px 0px 50px;
    
}
.signup{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-card{
    background-color: #fff;
    width: 25%;
    height: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.signup-card h1 {
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    padding: 20px;
    margin: 10px;
    margin-left: 35px;
  }
  

.signup-form-item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.signup-form-item input{
    height: 30px;
    width: 80%;
}

.signup-form-item button {
    border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
    margin-top: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    
}

.left-content{
    width: 50%;
    background-color:  #fff;
    padding: 20px;
    color: black;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    align-items: center;
    justify-content: center;
}

.header{
    margin-bottom: 20px;
    padding: 0;
    display: flex;
    justify-content: center;

}

.right-content{
    width: 50%;
    padding: 20px;
    
}



.drop-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.form-item {
    display: flex;
    padding-bottom: 20px;
    padding-top: 10px;
}

.drop-down{
    width: 200px;
}
.form-item label{
    width: 80px;
}

.form-item select{
    height: 30px;
    border-radius: 5px;
    border-color: #f3e0e2;
}


.form-button{
    display: flex;
    justify-content: center;
    
}

.form-button button {
    /* border-radius: 10px;
    padding-inline: 10px;
    padding-top: 5px;
    padding-bottom: 5px; */

    border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
    margin-top: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    
}


table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: none;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.delete-button{
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 20px;
}

.course-table{
    color: #fff;
    font-weight: 600;
}

.cell-text{
    display: flex;
    margin-inline-start: 20%;
}